doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./style/All.css')
  link(rel='stylesheet' href='./style/Pages.css')
  title Document
header
  .head
    .links
      a(href='')
        img#logo-head(src='./img/logo_color.png' alt='logo')
      a(href='https://vk.com/legionbmstu')
        img#vk(src='./img/vk.png' alt='vk')
      a(href='https://t.me/legionbmstu')
        img#tg(src='./img/tg.png' alt='tg')
    button.enter(onclick="document.location='/logout'")
      p.enter-l ВЫХОД ЕСТЬ
main
  .l-column  
  .center-column
    .buttons-left
      button.button.pass(onclick="document.location='/profile'")
        img(src='./img/profile.svg')
      button.button.pass(onclick="document.location='/message'")
        img(src='./img/message.svg')
      button.button.cal.act(onclick="document.location='/calendar'")
        img(src='./img/calendar.svg')
      div
    .window
  .r-column  
