doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./style/All.css')
  link(rel='stylesheet' href='./style/Pages.css')
  link(rel='stylesheet' href='./style/Profile.css')
  title Document
header
  .head
    .links
      a(href='')
        img#logo-head(src='./img/logo_color.png' alt='logo')
      a(href='https://vk.com/legionbmstu')
        img#vk(src='./img/vk.png' alt='vk')
      a(href='https://t.me/legionbmstu')
        img#tg(src='./img/tg.png' alt='tg')
    button.enter(onclick="document.location='/logout'")
      span.enter-l ВЫХОД ЕСТЬ
main
  .l-column  
  .center-column
    .buttons-left
      button.button.prof.act(onclick="document.location='/profile'")
        img(src='./img/profile.svg' alt='profile')
      button.button.pass(onclick="document.location='/message'")
        img(src='./img/message.svg' alt='message')
      button.button.pass(onclick="document.location='/calendar'")
        img(src='./img/calendar.svg' alt='calendar')
        div
    .window
      .up
        img.avatar.field(src='./img/avatar.svg')
        .field
          .name-text Имя
          br
          div
            span#first_name= profile.first_name
            a.edit-first-name
              img.pen(src='/img/edit.svg' alt='edit name' onclick="toggleVisibility('div-change-first-name-input')")
            .div-change-first-name#div-change-first-name-input(style='display: none')
              input#first_name_input(type='text')
              button(onclick="updateUser('first_name_input', 'first_name')") Редактировать
        .field
          .name-text Фамилия
          br
          div
            span= profile.last_name
            a.edit-last-name
              img.pen(src='/img/edit.svg' alt='edit name')
            .div-change-last-name(style='display: none')
              input#change-last-name(type='text')
              a.send-last-name send
        .field
          .name-text Команда
          br
          div
            span= profile.team_name
        .field
          .name-text Почта
          br
          div
            span= profile.email
            a.edit-email
              img.pen(src='/img/edit.svg' alt='edit name')
            .div-change-email(style='display: none')
              input#change-email(type='text')
              a.send-email send
        .ps.name-text
          | Изменить 
          br
          | пароль
      .level-out
        p.level-in Твой уровень: 
        span#number-level
      br
      hr
      .achivment
        p.lab Выбери достижение:
        .check
          input#workout(type='checkbox')
          label(for='workout') Посещение тренировки
        .check
          input#battle(type='checkbox')
          label(for='battle')  Участие в баттлах/соревнованиях
        .check
          input#mk(type='checkbox')
          label(for='mk') Посещение мастер-класса
        .check.last
          input#social(type='checkbox')
          label(for='social') Активность в социальных сетях
      br
      hr
  .r-column  
script
  include js/profile.js